CORS_ORIGINS=""
API_URL=""
DATABASE_URL=""
DEBUG="True"
SECRET_KEY=""
SUPABASE_ANON_KEY=""
SUPABASE_JWKS_URL=""
SUPABASE_URL="https://iupgzyilraahuwqnkgqq.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1cGd6eWlscmFhaHV3cW5rZ3FxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQ5NjcxNCwiZXhwIjoyMDkyMDcyNzE0fQ.xqSqSmY7yDase4w50TJpKCCocd-pymdkDtS1NfUAi7M"
REDIS_HOST="redis.railway.internal"
REDIS_PORT="6379"
REDIS_PASSWORD="gcPFokIkaOMJqmJgZNJArMwlaeUSvnaF"
BREVO_API_KEY="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"
BREVO_SENDER_EMAIL="noreply@staybooker.ai"
BREVO_SENDER_NAME="Staybooker"
SENTRY_DSN="https://89db698e190244dace0ef835b28f4c75@o4508572632219648.ingest.us.sentry.io/4508572634382336"
GOOGLE_CLIENT_ID="274928516993-tgoto8d83cgcsmfmn62c5fs1tijob7vk.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
LOG_LEVEL="DEBUG"
SCRAPINGBEE_API_KEY="Q4X8QUYSYLY24ZLCB99AB1VVYXQS685GR10WF3PZ21RT5JYP5MPNBZACH019RRSDWB29LVBJOYHR21KN"
WHATSAPP_APP_SECRET="b8d5b8f02a4c33b9bc8c5455cc1f3a9f"
WHATSAPP_VERIFY_TOKEN="WHATSAPP_VERIFY_TOKEN"
